@model EmployeeInfo
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>Employee's Data</h3>
    <table class="table table-bordered">

        <tr>
          
          <td>assdd</td>
          <td>assdd</td>
          <td>assdd</td>
            <td>assdd</td>

        </tr>

    </table>
</div>



